{% extends 'template.html' %}

{% block content %}

	<section class="title clearfix">	
		<h3 class="hbig">Cache</h3>
		<h3 class="hsmall">settings</h3>
	</section>
	
	<section class="formbox">
            <form action="#" method="post" id="configform">
		<div class="span2" id="labels">
			<label class="label" for="cachesystem"> System </label>
			<label class="label" for="cachehost"> Host </label>
			<label class="label" for="cacheport"> Port </label>
		</div>

		<div class="span5" id="boxen">
			
			<select name="cachesystem" id="cachesystem" >
                            {% for option in cachingoptions %}
                                <option value="{{ option }}" {{ cachesystem == option ? 'selected' : '' }}>{{ option }}</option>
                            {% endfor %}
                        </select>
                        {% if validationError and cachesystemError %} <p>Cache system must be NoCache or MemCache.</p> {% endif %}
                        
			<input class="box" type="text" id="cachehost" name="cachehost" value="{{ cachehost }}" />
			{% if validationError and hostError %} <p>There's a problem with your hostname.</p> {% endif %}
			
			<input class="box" type="text" id="cacheport" name="cacheport" value="{{ cacheport }}" />
			{% if validationError and portError %} <p>There's a problem with your port number.</p> {% endif %}
		</div>

		<div class="span1" id="info">

			<div id="one">
				<img id="first" class="info" src="frontend/img/info.png" alt="info">
    			<div id="two">Choose from NoCache or MemCache (only available if Memcached is installed)</div>
			</div>

			<div id="one">
				<img class="info" src="frontend/img/info.png" alt="info">
				<div id="two">The host that the caching system is running on. Note that if NoCache has been used, this doesn't really matter.</div>
			</div>

			<div id="one">
				<img id="last" class="info" src="frontend/img/info.png" alt="info">
				<div id="two"> The port to which we have to connect in order to communicate with the caching system. Note that if NoCache has been used, this doesn't really matter.</div>
			</div>
		</div>
            </form>
	</section>
  
    <div class="buttons clearfix">
        
        {% if hasnextpage %}
        <a class="btn" id="next">NEXT</a>
        {% endif %}
        
        {% if haspreviouspage %}
        <a class="btn" id="back" href="?page={{ currentpage - 1 }}">BACK</a>
        {% endif %}
    </div>
        
{% endblock %}

{% block scripts %}
    <script src="scripts/FormSubmit.js"></script>
    <script src="scripts/Cache.js"></script>
{% endblock %}