{% extends 'template.html' %}

{% block content %}

	<section class="title clearfix">	
		<h3 class="hbig">Database</h3>
		<h3 class="hsmall">settings</h3>
	</section>

	<h5 class="advancedset">Advanced Settings Step 3/3</h5>

	<section class="formbox">
            <form action="#" method="post" id="configform">
            
                {% if validationError and choiceError %} <p>You should choose New or Existing!</p> {% endif %}
            
		<label class="radio">
		  <input class="radiodot" type="radio" name="dbdbsetting" id="dbnewdb" value="new"  {{ dbnewdb ? 'checked' : '' }}>
		  <h6>New database</h6>
		</label>

		<div class="rootpw" id="newdbsettings">

			<div class="span2" id="labels">
                                {% if rootpasswordneeded %}
				<label class="label clearfix" for="dbrootpassword" id="rpwlabel"> Root Password </label>
				{% endif %}
				<label class="label clearfix" for="dbnewname" id="rpwlabel"> Database name </label>
			</div>

			<div class="span5" id="labels">
                                {% if rootpasswordneeded %}
				<input  class="span5" type="password" id="rpwbox" name="dbrootpassword" autocomplete="off" />
				{% if validationError and rootpasswordError %} <p>The root password is required.</p> {% endif %}
				{% endif %}
				<input  class="span5" type="text" id="rpwbox" name="dbnewname" />
				{% if validationError and newnameError %} <p>The name of the database is required.</p> {% endif %}
			</div>
		
		</div>

		<div class="clear">
			<label class="radio" id="edb">
			  <input class="radiodot" type="radio" name="dbdbsetting" id="dbexistingdb" value="existing" {{ dbnewdb ? '' : 'checked' }}>
			  <h6>Existing database</h6>
			</label>
			
			<div class="rootpw" id="existingdbsettings">

	                        <div class="span2" id="labels">
	                                <label class="label clearfix" for="dbname" id="rpwlabel"> Database name </label>
	                        </div>

	                        <div class="span5" id="labels">               
	                                <input  class="span5" type="text" id="rpwbox" name="dbname" />
	                                {% if validationError and nameError %} <p>The name of the database is required.</p> {% endif %}
	                        </div>
	                
	                </div>
	    </div>
            </form>
	</section>
        
    <div class="buttons clearfix" id="btndbuser">
        
        {% if hasnextpage %}
        <a class="btn" id="next">NEXT</a>
        {% endif %}
        
        {% if haspreviouspage %}
        <a class="btn" id="back" href="?page={{ currentpage - 1 }}">BACK</a>
        {% endif %}
    </div>
        
{% endblock %}

{% block scripts %}
    <script src="scripts/FormSubmit.js"></script>
    <script src="scripts/DatabaseDb.js"></script>
{% endblock %}