{% extends 'template.html' %}

{% block content %}

	<section class="title clearfix">	
		<h3 class="hbig">Databank</h3>
		<h3 class="hsmall">settings</h3>
	</section>

	<h5 class="advancedset">Advanced Settings Step 2/3</h5>

	<section class="formbox">
            <form action="#" method="post" id="configform">
           
                {% if validationError and choiceError %} <p>You should choose New or Existing!</p> {% endif %}
            
		<label class="radio">
		  <input class="radiodot" type="radio" name="dbusersetting" id="dbnewuser" value="new" {{ dbnewuser ? 'checked' : '' }}>
		  New user
		</label>

		<div class="rootpw" id="newusersettings">

			<div class="span2" id="labels">
				<label class="label clearfix" for="dbrootpassword" id="rpw">Root Password</label>
				<label class="label clearfix" for="dbnewusername" id="rpw">Username</label>
				<label class="label clearfix" for="dbnewpassword" id="rpw">New Password</label>
				<label class="label clearfix" for="dbconfirmpassword" id="rpw">Confirm Password</label>
			</div>

			<div class="span5" id="labels">
				<input  class="dbbox" type="password" id="dbrootpassword" name="dbrootpassword" value="{{ dbrootpassword }}"/>
				{% if validationError and rootpasswordError %} <p>The root password is required.</p> {% endif %}
				
				<input  class="dbbox" type="text" id="dbnewusername" name="dbnewusername" value="{{ dbnewusername }}" />	
				{% if validationError and newusernameError %} <p>A username for the new user is required.</p> {% endif %}
				
				<input  class="dbbox" type="password" id="dbnewpassword" name="dbnewpassword"  value="{{ dbnewpassword }}" />	
				{% if validationError and newpasswordError %} <p>A password for the new user is required.</p> {% endif %}
				
				<input  class="dbbox" type="password" id="dbconfirmpassword" name="dbconfirmpassword" />
				{% if validationError and passwordConfirmError %} <p>The passwords do not match.</p> {% endif %}
			</div>
		
		</div>

		<label class="radio" id="euser">
		  <input class="radiodot" type="radio" name="dbusersetting" id="dbexistinguser" value="existing" {{ dbnewuser ? '' : 'checked' }}>
		  Existing user
		</label>
		
		<div class="rootpw" id="existingusersettings">
		
                    <div class="span2" id="labels">
                            <label class="label clearfix" for="dbuser" id="rpw"> Username</label>
                            <label class="label clearfix" for="dbpassword" id="rpw"> Password</label>
                    </div>

                    <div class="span5" id="labels">
                            <input  class="dbbox" type="text" id="dbuser" name="dbuser" value="{{ dbuser }}" />  
                            {% if validationError and userError %} <p>The user's name is required.</p> {% endif %}
                            
                            <input  class="dbbox" type="password" id="dbpassword" name="dbpassword" value="{{ dbpassword }}" />  
                            {% if validationError and passwordError %} <p>The user's password is required.</p> {% endif %}
                    </div>
                
                </div>
            </form>
	</section>
        
    <div class="buttons clearfix" id="btndbuser">
        
        {% if hasnextpage %}
        <a class="btn" id="next">NEXT</a>
        {% endif %}
        
        {% if haspreviouspage %}
        <a class="btn" id="back" href="?page={{ currentpage - 1 }}">BACK</a>
        {% endif %}
    </div>
        
{% endblock %}

{% block scripts %}
    <script src="scripts/FormSubmit.js"></script>
    <script src="scripts/DatabaseUser.js"></script>
{% endblock %}