{% extends 'template.html' %}

{% block content %}


	<section id="contentsum">
    <div class="row offset3">
      <img class="span5" id="grats" src="frontend/img/congrats.png" alt="Congratulations" />
      </div>
      
      <div class="row">
		<section id="Summary">

			<h3 id="Stitle">Summary</h3>

		          <div class="span9" id="sum">
		            {% for title, settings in sessiondata %}
                                <h4>{{ title }}</h4>
                                <ul>
                                {% for key, value in settings %}
                                    <li>{{ key }}: {{ value }}</li>
                                {% endfor %}
                                </ul>
		            {% endfor %}
		            </ul>
		        
	    </section>
	    </div>
    </section>		
	

{% endblock %}