{% extends 'template.html' %}

{% block content %}

	<section class="title clearfix">	
		<h3 class="hbig">Host</h3>
		<h3 class="hsmall">settings</h3>
	</section>
	
	
	
	<section class="formbox">
            <form action="#" method="post" id="configform">
		<div class="span2" id="labels">
			<label class="label" for="hostname"> Hostname </label>
			<label class="label" for="subdir"> Public directory </label>
			<label class="label" for="defaultformat" > Default format </label>
		</div>

		<div class="span5" id="boxen">
			
			<input class="span5" type="text" id="hostname" name="hostname" value="{{ hostname }}" />
			{% if validationError and hostnameError %} <p>Your hostname should look like &quot;http(s)://example.com/&quot;.</p> {% endif %}
			
			<input class="span5" type="text" id="subdir" name="subdir" value="{{ subdir }}" />
			{% if validationError and subdirError %} <p>The public directory should look like &quot;datatank/public/&quot;</p> {% endif %}
			
			<select class="box" id="defaultformat" name="defaultformat">
			  <option value="json" {% if defaultformat == 'json' %} selected {% endif %}>JSON</option>
			  <option value="xml" {% if defaultformat == 'xml' %} selected {% endif %}>XML</option>
			</select>

		</div>

		<div class="span1" id="info">

			<div class="one" id="first">
				<img class="info" src="frontend/img/info.png" alt="info">
    			<div id="two">The hostname of the server the DataTank is installed on, e.g. http://example.com/</div>
			</div>

			<div class="one">
				<img class="info" src="frontend/img/info.png" alt="info">
				<div id="two"> The public directory of the DataTank, relative to your <em>www</em> folder. You should only change this if you plan to move the DataTank to a different directory, or if you use a VirtualHost.</div>
			</div>

			<div class="one">
				<img id="last" class="info" src="frontend/img/info.png" alt="info">
				<div id="two">The default format in which queried data will be presented in if no format is specified with the request.</div>
			</div>
		</div>
		
            </form>

	</section>
        
        
    
    <div class="buttons clearfix">
        
        {% if hasnextpage %}
        <a class="btn" id="next">NEXT</a>
        {% endif %}
        
        {% if haspreviouspage %}
        <a class="btn" id="back" href="?page={{ currentpage - 1 }}">BACK</a>
        {% endif %}
    </div>
        
{% endblock %}

{% block scripts %}
    <script src="scripts/FormSubmit.js"></script>
{% endblock %}
