{% extends 'template.html' %}

{% block content %}

	<section class="title clearfix">	
		<h3 class="hbig">Logging</h3>
		<h3 class="hsmall">settings</h3>
	</section>
	
	
	
	<section class="formbox">

	<form action="#" method="post" id="configform">
	
		<div class="span2" id="labels">
			<label class="label" for="accesslogapache">Apache access log</label>
		
			<div id="logging">
				<input type="checkbox" class="c" id="logenabled" name="loggingenabled" {{ loggingenabled ? 'checked' : '' }} />
				<label for="logenabled"> Logging </label>
				{% if validationError and enabledError %} <p>This field is required</p> {% endif %}
			</div>

			<label class="label" for="logpath" id="path"> Path </label>

		</div>

		<div class="span5" id="boxen">
			
			<input class="span5" type="text" id="accesslogapache" name="accesslogapache" value="{{ accesslogapache }}" />
			{% if validationError and apachelogError %} <p>There's an error in your Apache logpath.</p> {% endif %}
			
			<input class="span5" type="text" id="logpath" name="logpath" value="{{ logpath }}" />
			{% if validationError and logpathError %} <p>There's an error in your logpath.</p> {% endif %}

		</div>

		<div class="span1" id="info">

			<div id="one">
				<img id="first" class="info" src="frontend/img/info.png" alt="info">
    			<div id="two">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis ultricies erat, vel venenatis dui dapibus non. Duis vel dictum turpis. Aliquam eget ante luctus, pharetra urna at, tempor felis. </div>
			</div>

			<div id="one">
				<img id="pathinfo" class="info" src="frontend/img/info.png" alt="info">
				<div id="two">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis ultricies erat, vel venenatis dui dapibus non. Duis vel dictum turpis. Aliquam eget ante luctus, pharetra urna at, tempor felis. </div>
			</div>
		</div>

		</form>
		
	</section>
	
    <div class="buttons clearfix">
        {% if hasnextpage %}
        <a class="btn" id="next">NEXT</a>
        {% endif %}
        
        {% if haspreviouspage %}
        <a class="btn" id="back" href="index.php?page={{ currentpage - 1 }}">BACK</a>
        {% endif %}
    </div>
        
{% endblock %}

{% block scripts %}
    <script src="scripts/FormSubmit.js"></script>
{% endblock %}