{% extends 'template.html' %}

{% block content %}

	<section class="title clearfix">	
		<h3 class="hbig">Logging</h3>
		<h3 class="hsmall">settings</h3>
	</section>
	
	<section class="formbox">

	<form action="#" method="post" id="configform">
	
		<div class="span2" id="labels">
			<label class="label" for="accesslogapache">Apache access log</label>
		
			<div id="logging">
				<input type="checkbox" class="c" id="logenabled" name="loggingenabled" {{ loggingenabled ? 'checked' : '' }} />
				<label for="logenabled"> <h6>Logging</h6></label>
			</div>

			<label class="label" for="logpath" id="path"> Path </label>

		</div>

		<div class="span5" id="boxen">
			
			<input class="span5" type="text" id="accesslogapache" name="accesslogapache" value="{{ accesslogapache }}" />
			{% if validationError and apachelogError %} <p>There's an error in your Apache logpath.</p> {% endif %}
			
			<input class="span5" type="text" id="logpath" name="logpath" value="{{ logpath }}" />
			{% if validationError and logpathError %} <p>There's an error in your logpath.</p> {% endif %}

		</div>

		<div class="span1" id="info">

			<div class="one"  id="first">
				<img class="info" src="frontend/img/info.png" alt="info">
    			<div id="two">The absolute path to the apache log access file. This will be used to perform some statistical queries.</div>
			</div>

			<div class="one" id="pathinfo" >
				<img class="info" src="frontend/img/info.png" alt="info">
				<div id="two">The path to the directory the DataTank will write its logs to, if you enable logging. Make sure this directory is writable.</div>
			</div>
		</div>

		</form>
		
	</section>
	
    <div class="buttons clearfix">
        {% if hasnextpage %}
        <a class="btn" id="next">NEXT</a>
        {% endif %}
        
        {% if haspreviouspage %}
        <a class="btn" id="back" href="?page={{ currentpage - 1 }}">BACK</a>
        {% endif %}
    </div>
        
{% endblock %}

{% block scripts %}
    <script src="scripts/FormSubmit.js"></script>
{% endblock %}