<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="frontend/favicon.ico">
    <title>The Datatank Installer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="frontend/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="frontend/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <header>

      <img id="smallicon" src="frontend/img/tdt_icon.png" alt="icon" width="90px" >

      <div id="title"> 
        <h1>DATATANK</h1>
        <h2>Installer</h2>
      </div>

      <ol class="progtrckr" data-progtrckr-steps="7">

        <li class="progtrckr-todo">
          <div Class="circle {{ currentpage < 4 ? 'active' : 'done' }}" ></div>
          Packages
        </li>
   
        <li class="progtrckr-done">
          <div Class="circle {{ currentpage == 4 ? 'active' : currentpage > 4 ? 'done' : '' }}" ></div>
          General
        </li>
        
        <li class="progtrckr-done">
          <div Class="circle {{ currentpage == 5 ? 'active' : currentpage > 5 ? 'done' : '' }}" ></div>
          Host
        </li>
        
        <li class="progtrckr-done">
          <div Class="circle {{ currentpage == 6 ? 'active' : currentpage > 6 ? 'done' : '' }}" ></div>
          Logging
        </li>
        
        <li class="progtrckr-done">
          <div Class="circle {{ currentpage == 7 ? 'active' : currentpage > 7 ? 'done' : '' }}"></div>
          Cache
        </li>
        
        <li class="progtrckr-done">
          <div Class="circle {{ currentpage > 7 and currentpage < 12 ? 'active' : currentpage > 11 ? 'done' : '' }}" ></div>
          Database
        </li>
        
        <li class="progtrckr-done">
          <div Class="circle {{ currentpage == 12 ? 'active' : '' }}" ></div>
          Finish
        </li>
        
      </ol>

      <div id="line"></div>

    </header>
    
    <div id="content">
    {% block content %}
    {% endblock %}
    
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="frontend/js/bootstrap.min.js"></script>
    
    {% block scripts %}
    {% endblock %}
    
  </body>
</html>