body {
  background-color: #F5F4EE;
  font-family: 'Oswald', sans-serif;
  width:960px;
  margin: 0 auto;
}

header {
  margin-top: 40px;
}

section {
  margin-top: 45px;
}

#requirements {
  width: 580px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: #E8E5E0;
  margin: 45px auto 0px auto;
  padding: 20px 35px;

}

h3 {
  font-weight: 400;
  font-size: 2.2em;
  color: #328D81;
}

#req {
  float: left;
  margin-right: 4px;
  margin-bottom: 0;

}

h4 {
  font-weight: 300;
  font-size: 2em;
  color: #328D81;
}

#check {
  margin-top: 24px;
  margin-left: 179px;
}

Li {
  list-style-type: none;
  line-height: 200%;
  font-weight: 300;
  font-size: 1.3em;
}

#collumnleft {
  float: left;
  margin-left: 0;
}

#collumnright {
  float: right;
  margin-left: 0;
}

.btn {
  background-color: #328D81;
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 1.2em;
  color: #F5F4EE;
  font-weight: 300;
  padding:5px 10px;
  width: 40px;
  background-image: none;
  text-shadow:none;
  border:none;
}

#start {
  margin-left: 400px;

}

.btn:hover {
  background-color: #FF2C4C;
  color: #F5F4EE;
}

#smallicon {
  float:left;
}

#title{
  margin-left: 120px;
}

h1 {
  color: #328D81;
  font-weight: 700;
  font-size: 3.5em;
  line-height: 100%;
}

h2 {
  color: #FF2C4C;
  font-weight: 300;
  font-size: 3em;
  line-height: 100%;
  margin-top:-10px;
}

ol.progtrckr {
    margin: 55px 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    /*line-height: 3em;*/
    color:#328D81;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }

.circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    
    margin:0 auto;
    width: 15px;
    height: 15px;

    background-color:#F5F4EE;
    border: 4px solid #328D81;
    outline: 3px solid #F5F4EE;
    
    -moz-box-shadow:    inset 0px 0px 0px 3px #F5F4EE;
    -webkit-box-shadow: inset 0px 0px 0px 3px #F5F4EE;
    box-shadow:         inset 0px 0px 0px 3px #F5F4EE;
}

.circle.active {
    background-color:#FF2C4C; 
}

.circle.done {
  background-color:#328D81;

}

#line{
  height: 5px;
  background-color: #328D81;
  width: 85%;
  margin: -105px auto 0;
}

#content {
  margin-top:70px;
}

#packsmall {
  font-weight: 300;
  margin-top: 2px;
  margin-right: 4px;
  float: left;
}

.packages {
  margin-top: 40px;
  margin-left: 100px;
}

label {
  color: #328D81;
  font-size: 1.8em;
  font-weight: 400;
  margin-left: 23px;
}

.c {
  float: left;
}

.help-block{
  margin-left: 23px;
  margin-top: 10px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: O.9em;
}

#next {
  float: right;
  margin-right: 52px;
}

#back {
  float: right;
  margin-right: 12px;
}

.hsmall {
  font-weight: 300;
  float: left;
  padding-top: 2px;
 
}

.hbig {
  margin-right: 4px;
  float: left;
}

.title {
  width: 100%;
}

.label{
  font-weight: 300;
  font-size: 1.8em;
  color: #328D81;
  background: none;
  line-height: 2;
}

#t1 {
  margin-top: 17px;
}

.span2 {
  margin-left: 40px;
  margin-right: 40px;
}

.formbox {
  margin-top: 25px;
}

.buttons {
  margin-top: 300px;
}

.info {
  margin-top: 24px;
}

#first {
  margin-top: 16px;
}

#one {
    width:100px;
    height:48px;
    display:block;
    

}
#two {
    background:#E6DCCA;
    opacity: 20%;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: O.9em;
    width: 187px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    color:#595959;
    display: none;
    margin-left: 50px;
    margin-top: -40px;
    padding: 10px 15px;
}
#one:hover #two {
    display:block;
}
#last{
  margin-top: 34px;
}

#defform {
  margin-top: 19px;
}

#logging {
  font-weight: 400;
  margin-left: 92px;
  margin-top: 40px;

}

.span2#labels {
  margin-left: 60px;
}

#path {
  float: right;
  margin-right: -54px;
}

#pathbox {
  margin-top: 80px;
}

#pathinfo {
  margin-top: 86px;
}

.radio {
    margin-left: 100px;
  padding-left: 10px;
  margin-top: 30px;
}

h6 {
  margin-left: 10px;
  font-weight: 400;
  font-size: 1em;
  float: left;
  margin-top: 0;
}

#rootpw {
  margin-left: 100px;
  margin-top: 25px;
}

#rpwlabel {
  font-weight: 300;
  font-size: 1.2em;
  margin-right: 26px;
  margin-left: 17px;
}

#rpwbox {
  margin-top: 9px;
}

section.span5 {
  margin-top: 10px;
}

#info{
  margin-top: -10px;
  margin-left: 60px;
}

#databankbtn{
  margin-top: 150px;
}
.advancedset{
  font-weight: 300;
  font-size: 1.7em;
  color:#FF2C4C;
  margin-top:0px;
}

.label#rpwlabel{
  line-height: 2.4;
}

#euser {
  margin-top: 250px;
}

#dbuser {
  margin-top: 40px;
}

#edb {
  margin-top: 150px;
}

#grats {
  vertical-align: none;
}

#Summary {
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: #E8E5E0;
  padding: 20px 35px;
  margin-left: 500px;
  margin-right: 55px;
  margin-top: 90px;
  height: 221px;
}

.box {
  margin-top: 16px;
}

.info#helpicon{
  margin-top:35px;
}