body {
  background-color: #F5F4EE;
  font-family: 'Oswald', sans-serif;
  width:960px;
  margin: 0 auto;
}

#icon {
  vertical-align: top;
  width: 60px;
  margin-top: 3px;
}

header {
  margin-top: 30px;
  
}

#frontpage{
  margin-left: 250px;
}
#welcome {
  vertical-align: inherit;
  margin-left: -10px;
}



section {
  margin-top: 45px;
  margin-left: 35px;
}

#requirements {
  width: 600px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: #E8E5E0;
  margin: 15px auto 0px auto;
  padding: 20px 35px;

}

h3 {
  font-weight: 400;
  font-size: 1.7em;
  color: #328D81;
}

#req {
  margin-right: 4px;
  margin-bottom: 0;

}

h4 {
  font-weight: 300;
  font-size: 2em;
  color: #328D81;
}

#check {
  margin-top: 24px;
  margin-left: 179px;
}

Li {
  list-style-type: none;
  line-height: 200%;
  font-weight: 300;
  font-size: 1.3em;
}

#collumnleft {
  float: left;
  margin-left: 0;
}

#collumnright {
  float: right;
  margin-left: 0;
}

.row {
  margin-top: 10px;
}

form {
  margin: 0;
}

.btn {
  background-color: #328D81;
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 1.2em;
  color: #F5F4EE;
  font-weight: 300;
  padding:5px 10px;
  width: 40px;
  background-image: none;
  text-shadow:none;
  border:none;
  margin-top: 10px;
}

#start {
  margin-left: 530px;
  margin-top: 15px;

}

.btn:hover {
  background-color: #FF2C4C;
  color: #F5F4EE;
}

#smallicon {
  float:left;
  width: 60px;
  margin-left: 35px;
}

#title{
  margin-left: 110px;
}

h1 {
  color: #328D81;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 100%;
}

h2 {
  color: #FF2C4C;
  font-weight: 300;
  font-size: 2em;
  line-height: 100%;
  margin-top:-10px;
}



ol.progtrckr {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    /*line-height: 3em;*/
    color:#328D81;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }

.circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    
    margin:0 auto;
    width: 12px;
    height: 12px;

    background-color:#F5F4EE;
    border: 3px solid #328D81;
    outline: 2px solid #F5F4EE;
    
    -moz-box-shadow:    inset 0px 0px 0px 3px #F5F4EE;
    -webkit-box-shadow: inset 0px 0px 0px 3px #F5F4EE;
    box-shadow:         inset 0px 0px 0px 3px #F5F4EE;
}

.circle.active {
    background-color:#FF2C4C; 
}

.circle.done {
  background-color:#328D81;

}

#line{
  height: 3px;
  background-color: #328D81;
  width: 85%;
  margin: -76px auto 0;
}

#content {
  margin-top:64px;
}

#output {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: O.9em;
}

#packsmall {
  font-weight: 300;
  margin-top: 2px;
  margin-right: 4px;
  float: left;
}

.packages {
  margin-top: 20px;
  margin-left: 100px;
}

label {
  color: #328D81;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 23px;
}

.c {
  float: left;
}

.help-block{
  margin-left: 23px;
  margin-top: 10px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: O.9em;
}

#next {
  float: right;
  margin-right: 52px;
}

#back {
  float: right;
  margin-right: 12px;
}

.hsmall {
  font-weight: 300;
  float: left;
  padding-top: 1px;
 
}

.hbig {
  margin-right: 4px;
  float: left;
}

.title {
  width: 100%;
}

.label{
  font-weight: 300;
  font-size: 1.5em;
  color: #328D81;
  background: none;
  line-height: 2;
}

#t1 {
  margin-top: 17px;
}

.span2 {
  margin-left: 0px;
  margin-right: 40px;
}

.formbox {
  margin-top: 25px;
}

#boxen {
  margin-top: 10px;
}

#boxencache {
  margin-top: 10px;
  margin-left: 70px;
}

#subdir {
  margin-top: 10px;
}

.buttons {
  margin-top: 200px;
}

#first {
  margin-top: 11px;
}

.one {
    width:25px;
    margin-top: 25px;
}

#two {
    background:#E6DCCA;
    opacity: 20%;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    width: 187px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    color:#595959;
    display: none;
    margin-left: 50px;
    margin-top: -40px;
    padding: 10px 15px;
}

.one:hover #two {
    display:block;
}
#defform {
  margin-top: 19px;
}

#logging {
  font-weight: 400;
  margin-left: 74px;
  margin-top: 25px;
}

#timezone {
  margin-top: 10px;
}

.box {
  margin-top: 17px;
}
#language {
  margin-top: 10px;
}

#defaultformat {
  margin-top: 10px;
}

#labels{ 
  margin-left: 50px;

}
.span1#labels {
  margin-left: 60px;
}

#path {
  font-size: 1.3em;
  margin-top: 5px;
  margin-left: 130px;
}


#rpw {
  font-size: 1.3em;
  margin-top: 5px;
  margin-left: 45px;
}

#pathbox {
  margin-top: 80px;
}

#logpath {
  margin-top: 68px
}

#pathinfo {
  margin-top: 85px;
}

#cachehost {
  margin-top: 10px;
}

#cacheport {
  margin-top: 10px;
}

.radio {
    margin-left: 100px;
  padding-left: 10px;
  margin-top: 30px;
}

h6 {
  margin-left: 10px;
  font-weight: 300;
  font-size: 1em;
  float: left;
  margin-top: 0;
}

.rootpw {
  margin-left: 100px;
  margin-top: 25px;
}

#rpwlabel {
  font-weight: 300;
  font-size: 1.2em;
  margin-right: 26px;
  margin-left: 17px;
}

#rpwbox {
  margin-top: 9px;
}

section.span5 {
  margin-top: 10px;
}

#databankbtn{
  margin-top: 50px;
}
.advancedset{
  font-weight: 300;
  font-size: 1.5em;
  color:#FF2C4C;
  margin-top:0px;
  margin-left: 35px;
}

.label#rpwlabel{
  line-height: 2.4;
}

/*#euser {
  margin-top: 280px;
}*/

.dbbox {
  margin-top: 10px;
}

#edb {
  padding-top: 20px;
}

#grats {
  vertical-align: none;
  margin-left: -20px;
}

#Summary {
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: #E8E5E0;
  padding: 20px 35px;
  margin-right: 55px;
  overflow: auto;
  margin-bottom: 40px;
  margin-top: 0;
}

.info#helpicon{
  margin-top:10px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

#sum {
  margin: 0;
  font-size: 80%;
}

#sum ul {
  font-family: 'Open Sans', sans-serif;
}

#btndbuser {
  margin-top: 0px;
  margin-bottom: 10px;
  clear: both;
}

.clear{
  clear:both;
}

.block {
  display: block;
  width: 100%;
}

